
@import 'bourbon/bourbon';
@import 'neat/neat';


body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #072f44;
}
h3 {
  font-size: 1.17em;
  font-weight: bold;
  text-align: center;
}
code {
  font-size: 12px;
  line-height: 1.618em;
  text-align: left;
}
* {
  margin-bottom: 20px;
}
section.zero {
  @include outer-container;
  background-color: #d5eefb;
  margin-bottom: 3em;
  > code {
    display: block;
    line-height: 2.427em;
    text-align: center;
  }
  #alpha0 {
    @include span-columns(6);
    background-color: #aadbf5;
  }
  #beta0 {
    @include span-columns(6);
    background-color: #aadbf5;
  }
}

section.first {
  @include outer-container;
  background-color: #d5eefb;
  margin-bottom: 3em;
  > code {
    display: block;
    line-height: 2.427em;
    text-align: center;
  }
  #alpha {
    @include span-columns(1);
    background-color: #aadbf5;
  }
  #beta {
    @include span-columns(11);
    @include omega();
    background-color: #aadbf5;
  }
  #gamma {
    @include span-columns(2);
    background-color: #aadbf5;
  }
  #delta {
    @include span-columns(10);
    @include omega();
    background-color: #aadbf5;
  }
  #epsilon {
    @include span-columns(3);
    background-color: #aadbf5;
  }
  #zeta {
    @include span-columns(9);
    @include omega();
    background-color: #aadbf5;
  }
  #eta {
    @include span-columns(4);
    background-color: #aadbf5;
  }
  #theta {
    @include span-columns(8);
    @include omega;
    background-color: #aadbf5;
  }
  #iota {
    @include span-columns(5);
    background-color: #aadbf5;
  }
  #kappa {
    @include span-columns(7);
    @include omega;
    background-color: #aadbf5;
  }
  #lambda {
    @include span-columns(6);
    background-color: #aadbf5;
  }
  #mu {
    @include span-columns(6);
    @include omega;
    background-color: #aadbf5;
  }
}

section.second {
  @include outer-container;
  background-color: #d5eefb;
  margin-bottom: 3em;
  > code {
    display: block;
    line-height: 2.427em;
    text-align: center;
  }
  #alpha2 {
    @include span-columns(4);
    background-color: #aadbf5;
  }
  #beta2 {
    @include span-columns(8);
    background-color: #aadbf5;
    > code {
    display: block;
    line-height: 2.427em;
    text-align: center;
    }
    aside {
      @include span-columns(4 of 8);  
      background-color: #41a8df;
    }
    article {
      @include span-columns(4 of 8);
      background-color: #41a8df;
    }
  }
}

section.third {
  @include outer-container;
  background-color: #d5eefb;
  margin-bottom: 3em;
  > code {
    display: block;
    line-height: 2.427em;
    text-align: center;
  }
  #dummy {
    @include span-columns(12);
    @include row(table);
    background-color: #aadbf5;
  }
  #alpha3 {
    aside {
      @include span-columns(4);
      @include pad();  
      background-color: #41a8df;
    }
    // article {
    //   @include span-columns(8);
    //   // @include reset-display;
    //   @include pad(); 
    //   background-color: #41a8df;
    // }
  }
}

section.fourth {
  @include outer-container;
  background-color: #d5eefb;
  margin-bottom: 3em;
  > code {
    display: block;
    line-height: 2.427em;
    text-align: center;
  }
  #alpha4 {
    @include span-columns(6);
    @include shift(3);
    background-color: #aadbf5;
    margin-right: 0;
  }
}

.code {
  @include outer-container;
  background-color: #d5eefb;
  margin-bottom: 3em;
  > code {
    display: block;
    line-height: 2.427em;
    text-align: center;
  }
}

section.fifth {
  .box {
      @include span-columns(3);
      @include omega(4n);
      background-color: #aadbf5;
  }
}
